@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Bold.eot');
  src: local('Kontora Bold'), local('Kontora-Bold'),
  url('../fonts/Kontora-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Bold.woff2') format('woff2'),
  url('../fonts/Kontora-Bold.woff') format('woff'),
  url('../fonts/Kontora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-SemiBold.eot');
  src: local('Kontora SemiBold'), local('Kontora-SemiBold'),
  url('../fonts/Kontora-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-SemiBold.woff2') format('woff2'),
  url('../fonts/Kontora-SemiBold.woff') format('woff'),
  url('../fonts/Kontora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Medium.eot');
  src: local('Kontora Medium'), local('Kontora-Medium'),
  url('../fonts/Kontora-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Medium.woff2') format('woff2'),
  url('../fonts/Kontora-Medium.woff') format('woff'),
  url('../fonts/Kontora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-ExtraBlack.eot');
  src: local('Kontora ExtraBlack'), local('Kontora-ExtraBlack'),
  url('../fonts/Kontora-ExtraBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-ExtraBlack.woff2') format('woff2'),
  url('../fonts/Kontora-ExtraBlack.woff') format('woff'),
  url('../fonts/Kontora-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Light.eot');
  src: local('Kontora Light'), local('Kontora-Light'),
  url('../fonts/Kontora-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Light.woff2') format('woff2'),
  url('../fonts/Kontora-Light.woff') format('woff'),
  url('../fonts/Kontora-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Thin.eot');
  src: local('Kontora Thin'), local('Kontora-Thin'),
  url('../fonts/Kontora-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Thin.woff2') format('woff2'),
  url('../fonts/Kontora-Thin.woff') format('woff'),
  url('../fonts/Kontora-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Black.eot');
  src: local('Kontora Black'), local('Kontora-Black'),
  url('../fonts/Kontora-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Black.woff2') format('woff2'),
  url('../fonts/Kontora-Black.woff') format('woff'),
  url('../fonts/Kontora-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-Regular.eot');
  src: local('Kontora Regular'), local('Kontora-Regular'),
  url('../fonts/Kontora-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-Regular.woff2') format('woff2'),
  url('../fonts/Kontora-Regular.woff') format('woff'),
  url('../fonts/Kontora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('../fonts/Kontora-ExtraBold.eot');
  src: local('Kontora ExtraBold'), local('Kontora-ExtraBold'),
  url('../fonts/Kontora-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kontora-ExtraBold.woff2') format('woff2'),
  url('../fonts/Kontora-ExtraBold.woff') format('woff'),
  url('../fonts/Kontora-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}